# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Coverage
.coverage
htmlcov/
coverage.xml

# Pytest
.pytest_cache/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
